:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #272626;

  header {
    background-color: #383737;
    color: #d4d2cf;
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.259);
    flex-shrink: 0;
    padding: 0 16px;

    img {
      height: 32px;
      transition: transform .5s ease-out;

      &:hover {
        transform: rotateZ(395deg);
        transition: transform .3s ease-out;
      }
    }

    h1 {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 0 12px;
    }
  }

  main {
    flex-grow: 1;
    padding: 1vh 0;
  }

  footer {
    color: #d4d2cf;
    padding: 0 16px;
    text-align: right;

    #heart:hover {
      color: red;
      transition: color .3s ease-out;
    }

    a {
      color: #d4d2cf;
      text-decoration: none;

      &:hover {
        color: aquamarine;
      }
    }
  }
}


